.header {
    background-image: url("Dragon.png");
    color: whitesmoke;
    font-weight: bold;
    display: flex;
    justify-content: center;
}

.introduction {
    display: flex;
    justify-content: center;
    gap: 20px;
    border-radius: 50px;
    margin-top: 10px;
}

img.mcard {
    border-radius: 15px;
}

.color-wheel {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.colorpicker {
    text-align: center;
    display: flex;
    justify-content: center;
}

body {
    background-image: url("/images/artifactBackground.png");    
}