

.header {
    background-image: url("Dragon.png");
    color: whitesmoke;
    display: flex;
    justify-content: center;
    font-size: x-large;
}

.header h1 {
    margin: 20px;
}

.section-heading {
    text-align: center;
}

.introduction {
    display: flex;
    justify-content: center;
    gap: 20px;
    border-radius: 50px;
    margin-top: 10px;

}

img.mcard {
    border-radius: 10px;
    transition: transform .2s;
    width: 15%;
    height: auto;
    
}

img.mcard:hover {
    transform: scale(1.3);

}

.color-wheel {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 100px;
}

.colorpicker {
    text-align: center;
    display: flex;
    justify-content: center;
}
hr {
    width: 50%;
    height:5px;
    background-image: url("Dragon.png");
  }

body {
    background-image: url("artifactBackground.png");  
    font-family: 'Goudy Mediaeval', sans-serif;
    border: 30px solid;
    border-image: url("Dragon.png") 30 round;
}

.container {
    
}

.mana {
    width: 200px;
    height: 200px;
}

.mana:active {

}

.mana:hover {
    box-shadow: 10px 10px 30px #fc894d;
    border-radius: 50%;
}

.content {
    margin-left: 50px;
    margin-right: 50px;
}