.header {
    background-image: url("Dragon.png");
    color: whitesmoke;
    font-weight: bold;
    display: flex;
    justify-content: center;
}

.introduction {
    display: flex;
    justify-content: center;
    gap: 20px;
    border-radius: 50px;
    margin-top: 10px;
}

img.mcard {
    border-radius: 10px;
    transition: transform .2s;
    width: 15%;
    height: auto;
    
}

img.mcard:hover {
    transform: scale(1.3);

}

.color-wheel {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.colorpicker {
    text-align: center;
    display: flex;
    justify-content: center;
}

body {
    background-image: url("artifactBackground.png");    
}